

.LandingBackgroundImage {
  background-size: cover !important;
  min-height: 50vh;

  background:
      linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0.6)
      ),
      url(images/background.jpg) center no-repeat;
}

.LargeText {
  font-size: 5em;
}

.UHGreenBackground {
  background-color: #024731 !important;
}
.UHGreenBorder {
  border-color: #024731 !important;
}
.UHGreenTextColor {
  color: #024731 !important;
}
.UHWhiteBackground {
  background-color: #ffffff !important;
}
.UHWhiteBorder {
  border-color: #ffffff !important;
}
.UHWhiteTextColor {
  color: #ffffff !important;
  opacity: 1.0 !important;
}
.UHGreenShadow {
  -webkit-box-shadow: 0 1px 3px 0 #024731, 0 0 0 1px #024731 !important;
  box-shadow: 0 1px 3px 0 #024731, 0 0 0 1px #024731 !important;
}
.UHGreenBackgroundHover:hover {
  background-color: #03714e !important;
}


.Sign {
 color: #024731 !important;
  font-size: 45px !important;
  padding-bottom: 20px !important;
}

.Description {
  font-size: 19px;
}

.Contact {
  font-size: 20px;
  width: fit-content;
  padding-bottom: 5px;
}
.ContactEmail {
  padding-top: 5px;
  font-size: 14px;
}
